
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card mt-5">
                <div class="card-body text-center">
                    <h3 class="card-title">¡Pedido realizado!</h3>
                    <p class="card-text">Gracias por realizar tu pedido. Lo hemos recibido correctamente.</p>
                    <p class="card-text">Se le mandara un email donde se reflejan los productos comprados.</p>
                    <img src="/imagenes/Pago-realizado.png" alt="Venta realizada" class="img-fluid mt-4">
                </div>
            </div>
        </div>
    </div>
</div>