.google-login-button {
    display: inline-block;
    background-color: #4285F4;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

    .google-login-button .google-logo {
        width: 20px;
        height: 20px;
        vertical-align: middle;
        margin-right: 10px;
    }

    .google-login-button:hover {
        background-color: #3367D6;
    }
