@model IEnumerable<Infomatrix.Models.Marca>
@{
    ViewData["Title"] = "Crear";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Lista de Marcas</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Marca" asp-action="Crear" class="btn btn-primary">
                <i class="fa-solid fa-plus"></i>Nueva Marca
            </a>
        </div>
    </div>
    <br />
    @if (Model.Count() > 0)
    {
        <table class="table table-bordered table-striped" style="width:100%">
            <thread>
                <tr>
                    <th>
                        Nombre Categoria
                    </th>
 
                    <th>

                    </th>
                </tr>
            </thread>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <th width="50%">@item.Nombre</th>
                        <th class="text-center">
                            
                        </th>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No hay registros</p>
    }
</div>