@model Infomatrix.Models.Producto
@{
    var titulo = "¿Esta seguro de eliminar el producto?";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post" asp-action="Eliminar">

    <input asp-for="Id" hidden />

    <div class="border p-3">
        <div asp-validation-summary="ModelOnly" class="text-danger">
        </div>

        <div class="form-group row">
            <h2 class="text-danger">@titulo</h2>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <label asp-for="NombreProducto" class="form-label">Nombre Producto</label>
                            <input asp-for="NombreProducto" disabled class="form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label asp-for="DescripcionCorta" class="form-label">Descripcion Corta</label>
                            <input asp-for="DescripcionCorta" disabled class="form-control" />
                        </div>
                    </div>
                    <div class="row" hidden>
                        <div class="col-md-6">
                            <label asp-for="DescripcionProducto" class="form-label">Descripcion Producto</label>
                            <input asp-for="DescripcionProducto" disabled class="form-control" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <label asp-for="Precio" class="form-label">Precio</label>
                            <input asp-for="Precio" disabled class="form-control" />
                        </div>
                    </div>
                    <div class="row" hidden>
                        <div class="col-md-6">
                            <label asp-for="ImagenUrl" class="form-label">Imagen</label>
                            <input asp-for="ImagenUrl" class="form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label asp-for="CategoriaId" class="form-label">Categoria</label>
                            <input asp-for="CategoriaId" hidden class="form-control" />
                            <input asp-for="Categoria.NombreCategoria" disabled class="form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label asp-for="MarcaId" class="form-label">Tipo Aplicacion</label>
                            <input asp-for="MarcaId" hidden class="form-control" />
                            <input asp-for="Marca.Nombre" disabled class="form-control" />
                        </div>
                    </div>
                    <br />
                    <div class="d-grid gap-2 d-md-block">
                        <button type="submit" class="btn btn-danger">Eliminar</button>
                        <a asp-controller="Producto" asp-action="Index" class="btn btn-success">Regresar</a>
                    </div>


                </div>

            </div>
            @if (@Model.Id != 0)
            {
                <div class="col-4">
                    <img src="@WC.imagenRuta@Model.ImagenUrl" width="100%" style="border-radius:5px; border:1px solid #bbb" />
                </div>
            }
        </div>

    </div>

</form>
@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }

}
